async function runCalculation() {
    if(!currentProd) return alert("Wybierz producenta!");
    
    const kod = document.getElementById('codeDropdown').value;
    const szer = document.getElementById('inpSzer').value;
    const wys = document.getElementById('inpWys').value;

    document.getElementById('calcLoading').classList.remove('hidden');

    try {
        const res = await fetch(`/api/calculate?prod_id=${currentProd}&kod=${encodeURIComponent(kod)}&szer=${szer}&wys=${wys}`);
        
        // Zabezpieczenie przed milczącym błędem serwera
        if(!res.ok) throw new Error("Błąd serwera: Python napotkał problem z plikiem CSV.");
        
        const result = await res.json();

        // Wyświetlanie czytelnych błędów z Pythona
        if(result.error) {
            alert(result.error);
            return;
        }

        calcData = result;
        calcData.szer = szer;
        calcData.wys = wys;
        
        document.getElementById('resultBox').classList.remove('hidden');
        document.getElementById('labelKod').innerHTML = `Wybrana listwa: <span class="text-red-600 text-lg">${calcData.kod}</span> <span class="text-slate-400 ml-2">${szer} x ${wys} cm</span>`;
        
        renderCards();
    } catch (err) {
        alert("CRITICAL ERROR: " + err.message);
    } finally {
        document.getElementById('calcLoading').classList.add('hidden');
    }
}